<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Chat</title>
</head>
<body>
    <h1>Video Chat.</h1>
    <video id="localSteam" width="300" controls></video>
    <br />
    <h1>Your Token</h1>
    <input type="text" id="txtsignal"/>
    <br />
    <h1>Join Token</h1>
    <input type="text" id="txtjoin"/>
    <br />
    <video id="joinSteam" width="300" controls></video>
    <br />
    <button type="button" id="connect">Connect</button>
</body>
<script src="bundle.js"></script>
</html>